#name {
  text-align: center;
  font-family: 'Alex Brush', cursive;
  font-size: 32px;
  text-shadow: 4px 4px 4px #aaa;
}
.levy-bar .levy-button{
  white-space: normal;
  float: right;
}
.levy-bar-item.levy-button {
  padding: 16px 32px;
  float: right;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}
.display-container{
  max-width:100%;
}
.image {
  width: 100%;
  object-fit: contain;
}
